<div class="generator-container">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <div class="row">
                        <h3 class="masthead-brand">OTP Generator</h3>
                    </div>
                    <div class="row">
                        <nav>
                          <ul class="nav masthead-nav">
                              <li class="active" ng-click="changeModule('google')"><a href="#Google">Google</a></li>
                              <li ng-click="changeModule('github')"><a href="#Github">GitHub</a></li>
                              <li ng-click="changeModule('snapchat')"><a href="#Snapchat">Snapchat</a></li>
                              <li ng-click="changeModule('facebook')"><a href="#Facebook">Facebook</a></li>
                              <li ng-click="changeModule('dropbox')"><a href="#Dropbox">Dropbox</a></li>
                              <li ng-click="changeModule('ovh')"><a href="#OVH">OVH</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="inner cover">
				<h2 ng-show="signedIn" id="name"></h2>
                <google-plus-widget id="GooglePlus" authenticated="signedIn" csrf="getCSRF()"></google-plus-widget>
                <h1 class="cover-heading">Generate a new {{moduleName}} password</h1>
                <p class="lead" ng-hide="signedIn">Click the generate button to get a new one-time password. Once the latter is generated and used, you will not be able to use it again.</p>
                <p class="lead" ng-show="signedIn">You can now <strong>add and update keys</strong> from the modules we are providing.<br>Once these keys are stored securely into our database, you will be able to generate as much as OTP you want without filling the text field.</p>
                <form id="form">
                    <p>
                        <label for="secretID">
                            <span ng-show="signedIn">Update</span>
                            <span ng-hide="signedIn">Secret</span>
                             key :
                        </label>
                        <input type="text" id="secretID" name="secret" style="color:black;" />
                    </p>
                    <p>
                        <update-key authenticated="signedIn" module="module.value" csrf="getCSRF()"></update-key>
                    </p>
                    <otp-module id="Google" module="module.value" csrf="getCSRF()"></otp-module>
                </form>
                <h2 id="otp"></h2>
            </div>
            <div class="mastfoot">
              <div class="inner">
                <p>OTP Generator by <a href="https://github.com/Poncholay" target="_blank">Guillaume WILMOT</a> & <a href="https://github.com/Nyrii" target="_blank">Nyrandone NOBOUD-INPENG</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
