<!--<submit class="btn btn-lg btn-default" ng-click="sendData()"><i class="fa fa-snapchat"></i>Generate</submit>-->
<submit ng-click="sendData()">
    <button class="btn btn-block btn-social btn-google"
            style="width: 35%;text-align:center;margin-left: auto;margin-right: auto;display: inline-block;"
            ng-show="module == 'google'">
        <i class="fa fa-google"></i>
        Generate a Google OTP
    </button>
    <button class="btn btn-block btn-social btn-github"
            style="width: 35%;margin-left: auto;margin-right: auto;text-align:center;display: inline-block;"
            ng-show="module == 'github'">
        <i class="fa fa-github"></i>
        Generate a Github OTP
    </button>
    <button class="btn btn-block btn-social btn-snapchat"
            style="width: 35%;margin-left: auto;margin-right: auto;text-align:center;display: inline-block;"
            ng-show="module == 'snapchat'">
        <i class="fa fa-snapchat" style="color:black;"></i>
        <span style="color:black;">Generate a Snapchat OTP</span>
    </button>
    <button class="btn btn-block btn-social btn-facebook"
            style="width: 35%;margin-left: auto;margin-right: auto;text-align:center;display: inline-block;"
            ng-show="module == 'facebook'">
        <i class="fa fa-facebook"></i>
        Generate a Facebook OTP
    </button>
    <button class="btn btn-block btn-social btn-dropbox"
            style="width: 35%;margin-left: auto;margin-right: auto;text-align:center;display: inline-block;"
            ng-show="module == 'dropbox'">
        <i class="fa fa-dropbox"></i>
        Generate a Dropbox OTP
    </button>
    <button class="btn btn-block btn-social btn-ovh"
            style="width: 35%;margin-left: auto;margin-right: auto;text-align:center;display: inline-block;"
            ng-show="module == 'ovh'">
        <i class="fa fa-server"></i>
        Generate an OVH OTP
    </button>
</submit>

<style>
    .btn:focus {
        outline: none;
    }
</style>